$mainBackground: #dcbb9a;
$contentBackground: #fff;
$titleBackground: #893c00;
$imgBorderColor: #893c00;
$imgBorderColorInner: #fff;
$briefBackground: #fadcba;
$briefColor: #000000;
$linkImg: #3d70a1;
$thColor: #e0e0e0;
$textColor: #000000;
$formColor: #808080;
$trBackground: #fff;
$labelColor: #808080;
$thBorder:  #fff;


