$mainBackground: rgba(198, 238, 252, 0.53);
$contentBackground: #3b3b3b;
$titleBackground: #f5c70f;
$imgBorderColor: #fccd10;
$imgBorderColorInner: #3b3b3b;
$briefBackground: #fff178;
$briefColor: #3b3b3b;
$linkImg: #fccd10;
$thColor: #94a34e;
$textColor: #fff;
$formColor: #808080;
$trBackground: #677d01;
$labelColor: #fccd10;
$thBorder:  #fff;

